*{
    padding: 0;
    margin: 0;

}

::-webkit-scrollbar{
    background-color: #134C81;
    width: .4rem;
}

::-webkit-scrollbar-thumb{
    background-color: #0c5ba5;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

body{
    background-color: #134C81;
    color: #ffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.stake-container {
    max-width: 70rem;
    margin:auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


nav {
    display:  flex;
    justify-content: space-between;
    padding: 1rem 0;
    position: sticky;
    top:0;
}

main {
    display: flex;
    flex-direction: column;
    gap:4rem;
}
.logo {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: #ffff;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.connect-wallet-btn{
    padding: .6rem .5rem;
    background-image: linear-gradient(to right, #2d6797, #134C81  );
    font-weight: bold;
    border-radius: 3rem;
    transition: background-image .5s ease-in-out;
}

.connect-wallet-btn:hover{
    background-image: linear-gradient(to right, #134C81, #2d6797 );
    cursor: pointer;
    color: rgb(225, 225, 235);

}

.info-global{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    gap: 9rem;
}

.info-main{
    display: flex;
    background-color: #05315a88;
    border-radius: .9rem;
    padding: .5rem .9rem;

}

.inner-container-left, .inner-container-right{

    width: 100%;
    padding: .9rem .8rem;
    border-radius: .9rem;
    display: flex;
    flex-direction: column;
    gap:2rem
}



.earn-text {
    font-size: 1.2rem;
}

.sub{
    font-size: .8rem;
}

.public-stake-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .9rem;
    padding: .5rem;
    gap: .4rem;

    background-color: #0c5ba588;

}


.total-locked{
    font-size: 1rem;

}

.total-locked-token{
    font-size: 1.3rem;
}

.total-locked-dollars {
    font-size: 1.3rem;
}


.connection-info{
    display: flex;
    background-color: #05315a88;
    border-radius: .9rem;
    justify-content: center;
    align-items: center;
    height: 20vh;
    padding: 1rem 1rem;

}

.connection-info-text {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.user-stake-info-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.staking-balance{
    font-size: 1rem;
    color: #FF9100;;
}

.token-balance-fis{
    font-size: 1.2rem;
}

.token-balance-dollars{
    font-size: 1rem;
}

.info-redirect{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    justify-content: space-around;
}

.info-redirect h1 {
    font-size: 1rem;
}

.connection-container-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.reward{
    display: flex;
    justify-content: space-between;
    gap: .9rem;
}

.apr-card{
    background-color: #05315a88;
    padding: 1rem 1.3rem;
    border-radius: .7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    gap: .9rem;
}

.mandela-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:.3rem;
}

.mandela{
    font-size: 1rem;
    color: #FF9100;

}

.apr-announce{
    font-size: 2rem;
}

.limit-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:.3rem;
}

.current-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:.3rem;
}

.stake-button{
    border-radius: .9rem;
    border: .1px solid white;
    background-color: transparent;
    padding: 1rem .6rem;
    color: #fff;
    font-weight: bold;
    transition: color .4s ease-in-out, border .4s ease-in-out;

}

.stake-button:hover{
    cursor: pointer;
    color: #FF9100;
    border: .1px solid #FF9100;

}

footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

}
.copyright-info{
    display: flex;
}

footer ul{
    display: flex;
    gap: 2rem;
}


/* Stake Modal */
.stake-modal-container{
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.685);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.stake-modal-container:hover{
    cursor: pointer;
}

.stake-modal{
    display: flex;
    background-color: #05315ad2;
    padding: 2rem;
    border-radius: .9rem;
    gap: .6rem;
    z-index: 8;
}

.stake-modal:hover{
    border: .2rem solid #05315ad2;
}

.stake-inner-left{
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    gap: 1rem;
}

.form-group{
    display: flex;
    flex-direction: column;
    border: none;
    gap: .2rem;

}

.form-label{
    display: flex;
    justify-content: space-between;
}

.form-input {
    border-radius: .4rem;
    padding: .4rem;
    background-color: #0c5ba54b;
    color: #fff;
}

.percentage-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.btn-percentage{
    border: .1rem solid #fff;
    border-radius: .9rem;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.btn-percentage:hover{
    background-color: #fff;
    color: #0c5ba5;
    cursor: pointer;
}

.stake-inner-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.type-btn-container{
    display: flex;
    gap: .6rem;
    justify-content: space-between;
    padding: .5rem 0;
    border-bottom: .2rem solid #0c5ba5;
    
}

.btn-type {
    flex: 1;
    border: .1px solid #0c5ba5;
    padding: .8rem;
    border-radius: .5rem;
}

.btn-type-active{
    border: .2px solid #FF9100;

}


.duration-btn {
    border: .1px solid #0c5ba5;
    padding: .8rem;
    border-radius: .5rem;
}

.duration-btn:hover {
    border: .2px solid #FF9100;
    
}

.duration-btn-active {
    border: .2px solid #FF9100;

}

.duration-container{
    display: grid;
    gap: .4rem;
    grid-template-columns: repeat(2, 1fr);
}

.close-btn {
    position: absolute;
    
}