*{
    padding: 0;
    margin: 0;

}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

body{
    background-color: #134C81;
    color: #ffff;
}
.stake-container {
    max-width: 70rem;
    margin:auto;
}

body{

}

nav {
    display:  flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: #ffff;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.connect-wallet-btn{
    padding: .6rem .5rem;
    background-image: linear-gradient(to right, #2d6797, #134C81  );
    font-weight: bold;
    border-radius: 3rem;
}

.connect-wallet-btn:hover{
    background-image: linear-gradient(to right, #134C81, #2d6797 );
    cursor: pointer;

}